@import url('fontes/ubunto/Ubuntu-Medium.ttf');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

#form-cad-contato{
    width: 500px;
    text-align: right;
    padding: 20px;
    margin: 0 auto;
}

#form-cad-contato legend{
    text-align: left;
    color: green;
}

#form-cad-contato form input{
    width: 300px;
    font-size: 20px;
}

#form-cad-contato form input[type=submit]{
    margin: 20px auto;
    box-shadow: 5px 5px 5px black;
}

.box{
    border: solid 4px green;
    float: left;
    padding: 10px;
    margin: 30px 5px 0 0;
    width: 250px;
}